*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(media/emre.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: rgb(13, 12, 12);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: rgb(249, 11, 11);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(239, 40, 40);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-weight: bolder;
}
nav ul li a:hover{
    color: rgb(150, 10, 10);
    transition: .4s;
}
.btn{
    background-color: rgb(249, 11, 11);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}
h1{
    color: rgb(11, 11, 11);
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color:rgba(226, 15, 15, 0.8);
    font-size: 25px;
    margin-bottom: 50px;
}
.text-h3{
    color: black;
}
h4{
    color: rgba(226, 15, 15, 0.8);
    letter-spacing: 2px;
    font-size: 20px;

}
.newslatter form{
    width: 380px;
    height: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(249, 11, 11);
    outline: none;
    border-radius: 30px;

}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(249, 11, 11);
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;

}
.about img{
height: auto;
width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px ;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
.h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact{
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}
/* about us start */

.content-us{
    position: fixed;
    bottom: 10;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
   
  }
  .content-us h1{
    color: rgba(255, 255, 255, 0.821);
    text-shadow:4px 4px 4px 8px blue;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 255, 0.653);
    text-align: center;
  }
  .content-us p{
    font-size: large;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
  }
  
  .view1 h2{
    color: rgba(255, 255, 255, 0.821);
    font-size: 65px;
    font-weight: bolder;

    text-align: center;
    position: relative;
    top: 400px;
    padding-left: 0px;
  }
  .view1>ol>li{
    color: rgba(255, 255, 255, 0.821);
    font-size: 45px;
    font-weight: bolder;

    text-align: center;
    position: relative;
    top: 400px;

  }

#myVideo { 
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100px; 
    min-height: 100px;
  }

  
  

/* about us end */

/* Services Start */

.title-ser{
    position:absolute;
    z-index: 10;
    margin-left: 25%;
}
.img{
    position: absolute;
}
.inf-ser>p{
    font-size: 20px;
    color: rgb(240, 5, 5);
    font-weight: bold;
}
.inf-ser{
    width:auto;
    height:auto ;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.484);
   margin-top: 50%;
   bottom: 150px;
    position: absolute;
    z-index: 8;
}
.title-ser>h1{animation: services 4s infinite;}
@keyframes services {
    0%{}
    25%{
        transform: translate(40px,0px);
    }
    50%{
        transform: translate(-40px,0px);
    }
    75%{transform: translate(10px,0px);}
    100%{
        transform: translate(40px,0px);
    }
    
}
/* Services End */

/*Skills start  */
.skl-main{
    background-color: #858585;
}
.skl-h1{
    background-color: #ffffff;
    width: auto;
    height: auto;
}
@keyframes jump {
    0%{}
25%{
    transform: translate(0px,10px);
}
50%{
    transform: translate(0px,-10px);
}
75%{transform: translate(0px,-20px);}
100%{
    transform: translate(0px,0px);
}
    
}
.h1-skl{
    animation: jump 5s infinite;
    color: #f9004d;
    font-size: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button-con{
    width: 400px;
    height: 80px;
    border: 4px solid black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: rgb(114, 153, 114);

}
.button-con p{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2px;
    color: bisque;
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    z-index: 10;
}
.button-blue-3{
    top: 0;
    transition: all 1.2s;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(223, 103, 82, 0.821);}


.button-blue{
    top: 0;
    transition: all 1.2s;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(223, 103, 82, 0.821);}
    .button-con:hover .button-blue{
        width: 100%; }
      .button-con:hover .button-blue-3{
        width: 50%;
      }
      .cont-btn{
        display: flex;
        transform:translateY(350px);
      }
      .icons-skl{
        background-color: rgba(128, 128, 128, 0.599);
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        height: 400px;
      }
      .htmlskl{
        transform: translate(-280px,-40px)

      }
      .cssskl{
        transform: translate(-150px,-40px);
      }
      .jsskl{
        transform: translate(30px,-20px);
      }
      .myskl{
        transform: translate(200px,-20px);
      }
/*Skills end  */

/* contactus start */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #f20c0c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #29d60f;
  }
  
  .container {
    border-radius: 5px;
    background-color: #e90f0fab;
    padding: 20px;
  }
  #cont-h {
    color: #0f0c0c;
    font-size: 40px;
    transform: translate(-1px,40px);

}
/* contactus end */






/* 1024pxstart */
@media screen and (max-width:1024px){
h1{
    font-size: 50px;

}
.inf-ser > p {
    font-size: 20px;
    color: rgb(240, 5, 5);
    font-weight: bold;
    height: 400px !important;;      
  }

.newslatter form{
    width: 290px;
   
}
.htmlskl{
    transform: translate(-90px,-40px);
}
.cssskl{
    transform: translate(-90px,-40px)
}
.jsskl{
    transform: translate(-30px,-20px);
  }
  .myskl{
    transform: translate(40px,-20px);
  }

}
/* 1024px end */

/* 600pxstart */

@media screen and (max-width:600px){
    h1{
        font-size: 35px;
    }
    h3{
        font-size: 15px;
    }
    .newslatter form{
        width: 180px;
       
    }
    .about-text h2{
        color: white;
        font-size: 35px;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-left: 10px;
    
    }
    .title h2{
        color: rgb(249, 248, 248);
        font-size: 75px;
        width: 500px;
        margin-left: 60px;
        text-align: center;
    }
    .htmlskl{
        transform: translate(-20px,-40px);
    }
    .cssskl{
        transform: translate(-40px,-40px)
    }
    .jsskl{
        transform: translate(-30px,-10px);
      }
      .myskl{
        transform: translate(-20px,-20px);
      }
  }


/* 600px end */  
/* responsive for mobile */

@media screen and (max-width:600px){
    .main{
        display: block !important;
        
    }
    .title h2{
        color: rgb(249, 248, 248);
        font-size: 75px;
        width: 300px;
        margin-left: 60px;
        text-align: center;
    }
    .fp2{
        font-size: 15px !important;
        width: 120px !important;
        justify-content: center !important;
        text-align: center !important;
    }
    .about-text p {
        font-size: 15px !important;
        width: 420px !important;
        justify-content: center !important;
        text-align: center !important;
       }
       .img {
        position: absolute;
        transform:translateX(-190px);      
      }
      .inf-ser > p {
        font-size: 20px;
        color: rgb(240, 5, 5);
        font-weight: bold;
        height: 580px !important;
      }
}







/* responsive for mobile */


